<!DOCTYPE html>
<link rel="stylesheet" href="/css/perguntas.css">

<body>
<div>
<p class="p-principal">QUAL A CAPACIDADE HABITUAL DO SEU ESTABELECIMENTO? </p>
<input class="input-resposta"><br><br>
<img class="img-1" alt="logo" src="/img/perguntas/people1.svg">
</div>
<img class="img-next" alt="logo" src="/img/perguntas/next1.svg">
</body>

</html>