<!DOCTYPE html>
 <link rel="stylesheet" href="/css/principal.css">
 
<body class="background-shape">

<img class="" alt="logo" src="/img/principal/person(1).svg">

<div>
    <img class="img-fluid" alt="logo" src="/img/principal/Ellipse1.svg">
<p class="p-1">VERIFICAR SE MEU RESTAURANTE ESTÁ DE ACORDO COM O PROTOCOLO VIGENTE </p>

<img class="img-fluid" alt="logo" src="/img/principal/Ellipse2.svg">
<p class="p-2">IR à SEÇÃO DE PERGUNTAS MAIS FREQUENTES (FAQ) </p>
<img class="img-fluid" alt="logo" src="/img/principal/Ellipse3.svg">
<p class="p-3">ACESSAR FÓRUM </p>
</div>
</body>
</html>