{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{{/section}}

<h1>{{title}}</h1>
<form action="" role="form" method="POST" id="questionForm">
    <div class="form-group">
        <label for="question">Nome</label>
        <input id="name" type="text" class="form-control" value="{{data.name}}" autocomplete="off" name="name"
             required>
    </div>
    <button type="submit" class="btn btn-primary my-1">Editar categoria</button>
</form>

{{#section 'jquery'}}
<script src="/js/dataTable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    $(function () {
        $('#questionForm').submit(function (evt) {
            evt.preventDefault();
            axios({
                method: 'post',
                url: ``,
                data: {
                    name: $(`#name`).val(),
                }
            }).then((response) => {
                var data = response.data;
                if (data.success) {
                    toastr.success('Categoria editada com sucesso', 'Sucesso');
                } else {
                    toastr.error('Algum erro ocorreu... Tente novamente mais tarde', 'Erro!');
                }
            }, (error) => {
                toastr.error('Algum erro ocorreu... Tente novamente mais tarde', 'Erro!');
            });


        });

    });
</script>

{{/section}}