<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/landing.css">

</head>

<body class="background-shape">

    <header class="header">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo" href="/">
                        <img class="" alt="logo" src="/img/logo.svg">
                    </a>
                    <div class="collapse navbar-collapse offset">
                        <ul class="nav navbar-nav menu-nav justify-content-end">
                            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">covid</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">prevenção</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">restaurantes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">faq</a></li>
                        </ul>
                        <div class="nav-right text-center text-lg-right py-4 py-lg-0">
                            <a class="nav-item">Login</a>
                            <a class="button">Cadastre-se</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>


<div class ="div-land">
<h2 class="h2-first"> INSTRUÇÕES PARA</h2>
    <h2 class="h2-first"> PREVENÇÃO DO</h2>
    <p class="p-Covid">COVID-19</p>
    <h3 class="h3-landing">em bares e restaurantes </h3>
    <h3 class="h3-landing">no município de São Paulo</h3>
    <button type="button" , class="button-1"> CADASTRE-SE</button>
</div>
    

    <img class="img-landing" alt="person" src="/img/person.svg">
    <img class="img-landingblob" alt="bloblaranja" src="/img/bloblaranja.svg"  >
    <img class="img-landingbubles" alt="bubles" src="/img/bubbles 1.svg">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/js/landing.js"></script>
</body>

</html>