{{#section 'css'}}
<link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css'>
<style>       
    .swal2-popup {
        font-size: 1em;
    }

    .img-next {
        margin-top: 20px;
        height: 60px;
        margin-right: 45px;
    }

.input-resposta {
    background: #FFFFFF;
    border: 1px solid #FD1919;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2px 4px;
    height: 60px;
    width: 450px;
    font-size: 1.5em;
    margin-top: 40px;
    text-align: right;
}

 .section-padding {
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .question-content {
     
 }

 .question-content h1 {
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #140779;
    font-weight: 900;
    font-size: 3em;
 }

 

</style>
{{/section}}

<section id="question-1" class="covid-section section-padding">      
        <div class="container">
            <div class="row">
                {{!-- <div id="question-1"> --}}
                    <div class="col-lg-6 col-md-6 align-self-center question-content" style="margin-right: -40px;"  data-aos="fade-up">
                        <form>
                            <h1>QUAL A CAPACIDADE HABITUAL DO SEU ESTABELECIMENTO?</h1>
                            <p style="text-align: center;"><input class="input-resposta" required></p>
                            <p style="text-align: right;"><img class="img-next" id="next" alt="Proximo" src="/img/next.png"></p>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0" data-aos="fade-right">
                        <div>
                            <img class="img-fluid" style="margin-left: 60px;" src="/img/perguntas/people1.svg">
                        </div>
                    </div>   
                {{!-- </div> --}}
                {{!-- <div id="question-2" style="display: none;">
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0" data-aos="fade-left">
                        <div>
                            <img class="img-fluid" style="margin-left: 60px;" src="/img/perguntas/people1.svg">
                        </div>
                    </div>   
                    <div class="col-lg-6 col-md-6 align-self-center question-content" style="margin-left: -40px;"  data-aos="fade-up">
                        <form>
                            <h1>QUAL A CAPACIDADE HABITUAL DO SEU ESTABELECIMENTO?</h1>
                            <p style="text-align: center;"><input class="input-resposta" required></p>
                            <p style="text-align: right;"><img class="img-next" alt="Proximo" src="/img/next.png"></p>
                        </form>
                    </div>
                    
                </div>             --}}
            </div>
        </div>
    </section>

    <section id="question-2" style="display: none;" class="covid-section section-padding">      
        <div class="container">
            <div class="row">
                {{!-- <div id="question-1"> --}}
                    <div class="col-lg-6 col-md-6 align-self-center question-content" style="margin-right: -40px;"  data-aos="fade-up">
                        <form>
                            <h1>QUAL A CAPACIDADE HABITUAL DO SEU ESTABELECIMENTO?</h1>
                            <p style="text-align: center;"><input class="input-resposta" required></p>
                            <p style="text-align: right;"><img class="img-next" id="next" alt="Proximo" src="/img/next.png"></p>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0" data-aos="fade-right">
                        <div>
                            <img class="img-fluid" style="margin-left: 60px;" src="/img/people.png">
                        </div>
                    </div>   
                {{!-- </div> --}}
                {{!-- <div id="question-2" style="display: none;">
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0" data-aos="fade-left">
                        <div>
                            <img class="img-fluid" style="margin-left: 60px;" src="/img/perguntas/people1.svg">
                        </div>
                    </div>   
                    <div class="col-lg-6 col-md-6 align-self-center question-content" style="margin-left: -40px;"  data-aos="fade-up">
                        <form>
                            <h1>QUAL A CAPACIDADE HABITUAL DO SEU ESTABELECIMENTO?</h1>
                            <p style="text-align: center;"><input class="input-resposta" required></p>
                            <p style="text-align: right;"><img class="img-next" alt="Proximo" src="/img/next.png"></p>
                        </form>
                    </div>
                    
                </div>             --}}
            </div>
        </div>
    </section>

<div style="width: 100%; margin-top: 1px;">
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color: #FAA94A;">
    70%
  </div>
</div>
</div>



{{#section 'jquery'}}
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js'></script>
<script>
    $("#top").css("display", "flex");
    $(function () {
        setTimeout(() => {
            $("#top").fadeOut(1000);
            setTimeout(() => {
                 Swal.fire(
                    'Atenção!',
                    'A partir de agora, você será submetido a uma bateria de perguntas que nos ajudarão a entender qual a situação do seu estabelecimento. Seja o mais verossímil possível, pois só assim poderemos te dar um retorno útil. É isso, obrigado ;)',
                    'warning'
                );    
            }, 1200);
        }, 2000);

        $('#next').click(() => {
            $('#question-1').fadeOut(1000, function() {
               $('#question-2').fadeIn(1000);
            });
             
        });
       
    });
</script>
{{/section}}