{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

{{/section}}

<h1>{{title}}</h1>
<form action="" role="form" method="POST" id="questionForm">
    <div class="form-group">
        <label for="question">Pergunta</label>
        <input id="question" type="text" class="form-control" autocomplete="off" name="question"
             required>
    </div>
    <div class="form-group">
        <label for="role">Depende de outra pergunta?</label>
        <select name="hasDependency" class="form-control" id="hasDependency" required>
            <option value="true">Sim</option>
            <option value="false" selected>Não</option>
        </select>
    </div>
        <div id="dependency-wrapper" class="form-group">
        <label for="dependency">Pergunta pai</label>
        <select name="dependency" class="form-control" id="dependency">
            {{#each questions}}
                <option value="{{this._id}}">#{{inc @index}} - {{this.question}}</option>
            {{/each}}
        </select>
    </div>
     <div class="form-group">
    <label for="exampleFormControlTextarea1">Texto certo</label>
    <textarea class="form-control" id="wrongText" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Texto errado</label>
    <textarea class="form-control" id="rightText" rows="3"></textarea>
  </div>
        <div class="form-group">
        <label for="illustration">Link ilustração</label>
        <input id="illustration" type="text" value="/img/perguntas/people.png" class="form-control" autocomplete="off" name="illustration" required>
    </div>
        <div class="form-group">
        <label for="role">Orientação</label>
        <select name="orientation" class="form-control" id="orientation" required>
            <option value="left">Esquerda</option>
            <option value="right">Direita</option>
        </select>
    </div>
    <div class="form-group">
        <label for="role">Tem shape de fundo?</label>
        <select name="bgShape" class="form-control" id="bgShape" required>
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
    </div>
    <div class="form-group" >
        <label for="weight">Peso</label>
        <input id="weight" type="number" class="form-control" autocomplete="off" name="weight" required>
    </div>
    <div class="form-group" id="method-wrapper">
        <label for="method">Método</label>
        <select name="method" class="form-control" id="method" required>
            <option value="input">Input</option>
            <option value="VF">Sim ou Não</option>
        </select>
    </div>

    <div class="form-group"><div id="type-wrapper" class="form-group">
        <label for="type">Tipo</label>
        <select name="type" class="form-control" id="type" required>
            <option value="number">Número</option>
            <option value="text">Texto</option>
        </select>
    </div>

        <div class="form-group">
        <label for="role">Função pontuação</label>
        <textarea cols="40" rows="10" id="additionalLogic" class="form-control" >
function(questions, idx) {
    return questions[idx].weight;
}
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary my-1">Cadastrar pergunta</button>
</form>

{{#section 'jquery'}}
<script src="/js/dataTable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    $(function () {

        $('#dependency-wrapper').css('display', 'none');

        $('#method').change(() => {
            $('#type-wrapper').css('display', $('#method').val() == 'VF' ? 'none' : 'block');
            if ($('#method').val() == 'VF') {
                $('#additionalLogic').val(`function(questions, idx) {
    return questions[idx].answer == 'SIM' ? questions[idx].weight : 0;
}`);
            } else {
                $('#additionalLogic').val(`function(questions, idx) {
    return questions[idx].weight;
}`);
            }
        });

        $('#hasDependency').change(() => {
            $('#dependency-wrapper').css('display', $('#hasDependency').val() == 'false' ? 'none' : 'block');
        });

        $('#questionForm').submit(function (evt) {
            evt.preventDefault();
            axios({
                method: 'post',
                url: `/admin/questionario/perguntas/new`,
                data: {
                    bgShape: $(`#bgShape`).val() == "true" ? true : false,
                    question: $(`#question`).val(),
                    method: $(`#method`).val(),
                    rightText: $(`#rightText`).val(),
                    wrongText: $(`#wrongText`).val(),
                    hasDependency: $('#hasDependency').val(),
                    function: $('#additionalLogic').val(), // .replaceAll(`/n`, '')
                    dependency: $('#dependency').val(),
                    type: $(`#type`).val(),
                    illustration: $(`#illustration`).val(),
                    orientation: $(`#orientation`).val(),
                    weight: $(`#weight`).val(),
                }
            }).then((response) => {
                var data = response.data;
                if (data.success) {
                    toastr.success('Pergunta cadastrada com sucesso', 'Sucesso');
                } else {
                    toastr.error('Algum erro ocorreu... Tente novamente mais tarde', 'Erro!');
                }
            }, (error) => {
                toastr.error('Algum erro ocorreu... Tente novamente mais tarde', 'Erro!');
            });


        });

    });
</script>

{{/section}}